.rectangleDiv,
.rectangleDiv1 {
  position: absolute;
  top: 246px;
  left: 258px;
  border-radius: 6px;
  background-color: #fff;
  width: 925px;
  height: 579px;
}
.rectangleDiv1 {
  top: 0;
  left: 0;
  border-radius: 10px;
  border: 1px solid #127dd3;
  box-sizing: border-box;
  width: 340px;
  height: 48px;
}
.backToLogIn {
  position: absolute;
  top: 15px;
  left: 85px;
  display: inline-block;
  width: 171px;
}
.vuesaxlineararrowRightIcon {
  position: absolute;
  top: 12px;
  left: 305px;
  width: 24px;
  height: 24px;
}
.btnDiv,
.rectangleDiv2 {
  position: absolute;
  width: 340px;
}
.btnDiv {
  top: 604px;
  left: 551px;
  height: 48px;
  cursor: pointer;
}
.rectangleDiv2 {
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #127dd3;
  height: 141px;
}
.checkEmailForNewDetails {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 212px;
}
.groupDiv,
.groupDiv1 {
  position: absolute;
  top: 63px;
  left: 64px;
  width: 212px;
  height: 16px;
}
.groupDiv {
  top: 419px;
  left: 551px;
  width: 340px;
  height: 141px;
  font-size: 14px;
  color: #fff;
}
.bankmelogo2Icon {
  position: absolute;
  top: 214px;
  left: 642px;
  width: 156px;
  height: 156px;
  object-fit: cover;
}
.forgotPasswordDiv {
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: #127dd3;
  font-family: Roboto;
}
