.rectangleDiv {
  position: absolute;
  top: 246px;
  left: 258px;
  border-radius: 6px;
  background-color: #fff;
  width: 925px;
  height: 579px;
}
.bankmelogo2Icon {
  position: absolute;
  top: 214px;
  left: 642px;
  width: 156px;
  height: 156px;
  object-fit: cover;
}
.emailPhoneNumberDiv,
.logInDiv {
  position: absolute;
  display: inline-block;
}
.logInDiv {
  top: 371.56px;
  left: 551px;
  font-size: 24px;
  font-weight: 600;
}
.emailPhoneNumberDiv {
  top: 0;
  left: 0;
}
.rectangleDiv1 {
  position: absolute;
  top: 23px;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  border: 1.6px solid #127dd3;
  box-sizing: border-box;
  width: 340px;
  height: 48px;
}
.emailphoneInputDiv {
  position: relative;
  width: 340px;
  height: 71px;
  flex-shrink: 0;
}
.rectangleDiv2 {
  position: absolute;
  top: 23px;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #6a6a6a;
  box-sizing: border-box;
  width: 340px;
  height: 48px;
}
.vuesaxlineareyeIcon {
  position: absolute;
  top: 35px;
  left: 305px;
  width: 24px;
  height: 24px;
}
.passwordInputDiv {
  position: relative;
  width: 340px;
  height: 71px;
  flex-shrink: 0;
  color: #6a6a6a;
}
.frameDiv {
  position: absolute;
  top: 448.56px;
  left: 551px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-family: Roboto;
}
.rectangleDiv3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #127dd3;
  width: 340px;
  height: 48px;
}
.logInB {
  position: absolute;
  top: 15px;
  left: 84px;
  display: inline-block;
  width: 171px;
}
.btnDiv,
.vuesaxlineararrowRightIcon {
  position: absolute;
  top: 12px;
  left: 305px;
  width: 24px;
  height: 24px;
}
.btnDiv {
  top: 650.56px;
  left: 551px;
  width: 340px;
  height: 48px;
  font-size: 16px;
  color: #fff;
  font-family: Roboto;
}
.forgotPasswordDiv {
  position: absolute;
  top: 742.56px;
  left: 656px;
  font-weight: 500;
  color: #6a6a6a;
  display: inline-block;
  cursor: pointer;
}
.loginDiv {
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  color: #127dd3;
  font-family: Montserrat;
}
